body {
    background-color: white;
    color: black;
    font-family: Helvetica, sans-serif;

    #content {
        max-width: 700px;
        margin: 0 auto;
        padding: 0 10px;

        h1,
        h2,
        h3,
        h4 {
            font-family: "brandon-grotesque", Helvetica, sans-serif;
            font-size: 34px;
            font-style: normal;
            font-weight: 900;
            letter-spacing: 1.5px;
            line-height: normal;
            color: #252C37;
        }

        h2 {
            font-size: 26px;
        }

        li,
        p,
        span {
            margin: 0;
            font-family: "Open Sans", Helvetica, sans-serif;
            font-size: 18px;
            font-style: normal;
            font-weight: normal;
            letter-spacing: normal;
            line-height: 36px;
            text-transform: none;
            color: #44555F;
        }

        .sites {
            width: 100%;
            display: flex;
            flex-wrap: wrap;
            $grid-gap: 10px;

            a {
                text-decoration: none;
            }

            .site {
                $border-width: 1px;
                $border-color: #d8d7da;
                border: $border-width solid $border-color;
                border-radius: 5px;
                overflow: hidden;
                width: calc(50% - (#{$grid-gap}/2) - (#{$border-width}*2));
                display: flex;
                flex-direction: column;
                margin: 0 $grid-gap $grid-gap 0;

                &:nth-of-type(2n) {
                    margin-right: 0;
                }

                .site-preview {
                    width: 100%;
                    height: 200px;
                    background-position: top center;
                    background-size: cover;
                    border-bottom: $border-width solid $border-color;
                }

                .site-info {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    padding: 10px 0;
                    background-color: whitesmoke;

                    h3 {
                        text-align: center;
                        font-size: 21px;
                        letter-spacing: 1px;
                        margin: 0 5px 0;
                        color: #252C37;
                    }

                    h4 {
                        text-align: center;
                        font-size: 13px;
                        font-weight: 500;
                        letter-spacing: 1px;
                        margin: 0;
                        color: #252C37;
                    }
                }
            }
        }
    }
}
