body {
    background-color: white;
    color: black;
    font-family: Helvetica, sans-serif;

    #content {
        max-width: 700px;
        margin: 0 auto;
        padding: 0 10px;

        h1 {
            font-family: "brandon-grotesque", Helvetica, sans-serif;
            font-size: 34px;
            font-style: normal;
            font-weight: 900;
            letter-spacing: 1.5px;
            line-height: normal;
            color: #252C37;
        }

        p, li {
            margin: 0;
            font-family: "Open Sans", Helvetica, sans-serif;
            font-size: 18px;
            font-style: normal;
            font-weight: normal;
            letter-spacing: normal;
            line-height: 36px;
            text-transform: none;
            color: #44555F;
        }
    }
}
